* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

header {
    position: relative;
    height: 100vh;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 5vh;
    background-color: rgba(140, 140, 140, 0);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
}

.navbar > .left {
    display: flex;
    list-style: none;
    margin-left: 5%;
}

.navbar > .right {
    display: flex;
    list-style: none;
    margin-right: 5%;
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.profielfoto {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    margin-bottom: 1rem;
}

.profiel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    z-index: 2;
}

.profiel h1 {
    font-size: 2rem;
    margin-bottom: 0.25rem;
}

.Subtitel {
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.Beschrijving {
    margin-right: 20%;
    margin-left: 20%;
    font-size: 0.8rem;
}

/* ---- particles.js container ---- */

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1; /* achter alles */
}

/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    user-select: none;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}
